<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>technical safety authority interface design</title>
<link rel="stylesheet" type="text/css" href="../css/common.css"/>
</head>
<body>
<div class="wrapper">
  <div class="header">
    <div class="icon_logo"><a href="#" title="technical safety authority interface design"><img src="../images/icon_logo.jpg" alt="technical safety authority interface design"/></a></div>
    <div class="icon_exit"><a href="#!" title="logOut">log Out</a></div>
  </div>
  <div class="container">
    <div class="mainnav">
      <ul class="navlist">
        <li><a href="#!" title="form" class="nav1_on"><span>Form</span></a></li>
        <li><a href="#!" title="orders" class="nav2"><span>orders</span></a></li>
        <li><a href="#!" title="users" class="nav3"><span>users</span></a></li>
        <li><a href="#!" title="Payment Report" class="nav4"><span>Payment Report</span></a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="mainbox">
      <div class="subnav">
        <a href="#!" title="new form" class="newform">New Form</a>
        <a href="#!" title="new user" class="newuser">New User</a>
      </div>
      <dl class="txtcont">
        <dt>
        <div class="ltit"><strong>Forms</strong></div>
        <div class="sortby">
          <div class="sb_tit">Sort By:</div>
          <div class="chose">
            <form method="get" action="" name="headSearchForm" id="headSearchForm">
              <input name="searchdomain" type="hidden" value="">
              <input id="headSearchType" name="searchType" type="hidden" value="playlist">
              <div class="selSearch">
                <div class="nowSearch" id="headSlected" onclick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" onmouseout="drop_mouseout('head');">Newest First</div>
                <div class="btnSel"><a href="#" onclick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" onmouseout="drop_mouseout('head');"></a></div>
                <div class="clear"></div>
                <ul class="selOption" id="headSel" style="display:none;">
                  <li><a href="#" onclick="return search_show('head','nf',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">Newest First</a></li>
                  <li><a href="#" onclick="return search_show('head','sv',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">sales volume</a></li>
                  <li><a href="#" onclick="return search_show('head','cl',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">collect
                  </a></li>
                </ul>
              </div>
            </form>
            <script>
function drop_mouseover(pos){
  try{window.clearTimeout(timer);}catch(e){}
}
function drop_mouseout(pos){
  var posSel=document.getElementById(pos+"Sel").style.display;
  if(posSel=="block"){
    timer = setTimeout("drop_hide('"+pos+"')", 1000);
  }
}
function drop_hide(pos){
  document.getElementById(pos+"Sel").style.display="none";
}
function search_show(pos,searchType,href){
  document.getElementById(pos+"SearchType").value=searchType;
  document.getElementById(pos+"Sel").style.display="none";
  document.getElementById(pos+"Slected").innerHTML=href.innerHTML;
  try{window.clearTimeout(timer);}catch(e){}
  return false;
}
            </script>
          </div>
        </div>
        <div class="clear"></div>
        </dt>
        <dd>
        <div class="forms_cont">
          <div class="fc_tit">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="fct_tab">
              <tr>
                <th width="61" class="td_id">Order#</th>
                <th width="351" class="td_name">Form Name</th>
                <th class="td_url">URL</th>
                <th width="131" class="td_date">Date Last Modified</th>
                <th width="81">&nbsp;</th>
                <th width="51">&nbsp;</th>
              </tr>
            </table>
          </div>
          <div class="fc_con">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="fcc_tab">
              <tr>
                <td width="60" class="td_id">4</td>
                <td width="350" class="td_name">Title of the Form Goes Here</td>
                <td class="td_url"><a href="#!" class="aurl">www.tsask.ca/forms/id#</a></td>
                <td width="130" class="td_date"><span class="coltdate">13/08/2012</span></td>
                <td width="80" class="td_edit"><a href="#!" title="edit" class="btn_edit">Edit</a></td>
                <td width="50" class="td_del"><a href="#!" title="del" class="btn_del">x</a></td>
              </tr>
              <tr class="othercolor">
                <td class="td_id">3</td>
                <td class="td_name">Title of the Form Goes Here</td>
                <td class="td_url"><a href="#!" class="aurl">www.tsask.ca/forms/id#</a></td>
                <td class="td_date"><span class="coltdate">13/08/2012</span></td>
                <td class="td_edit"><a href="#!" title="edit" class="btn_edit">Edit</a></td>
                <td class="td_del"><a href="#!" title="del" class="btn_del">x</a></td>
              </tr>
              <tr>
                <td class="td_id">2</td>
                <td class="td_name">Title of the Form Goes Here</td>
                <td class="td_url"><a href="#!" class="aurl">www.tsask.ca/forms/id#</a></td>
                <td class="td_date"><span class="coltdate">13/08/2012</span></td>
                <td class="td_edit"><a href="#!" title="edit" class="btn_edit">Edit</a></td>
                <td class="td_del"><a href="#!" title="del" class="btn_del">x</a></td>
              </tr>
              <tr class="othercolor">
                <td class="td_id">1</td>
                <td class="td_name">Title of the Form Goes Here</td>
                <td class="td_url"><a href="#!" class="aurl">www.tsask.ca/forms/id#</a></td>
                <td class="td_date"><span class="coltdate">13/08/2012</span></td>
                <td class="td_edit"><a href="#!" title="edit" class="btn_edit">Edit</a></td>
                <td class="td_del"><a href="#!" title="del" class="btn_del">x</a></td>
              </tr>
            </table>
          </div>
        </div>
        </dd>
      </dl>
    </div>
  </div>
  <div class="footer"></div>
</div>
</body>
</html>
