
/* CSS Document */

body{ -webkit-text-size-adjust:none; color:#6C6B6B;padding:0px;margin:0px}
a{cursor:pointer;text-decoration:none;}
a:hover{ cursor:pointer;text-decoration:none;}
a:visited { cursor:pointer;text-decoration:none; }
a:active { cursor:pointer;text-decoration:none; }
